.navbar-brand {
    font-size: 33px;
}

.navbar {
    background-color: palegreen;
    text-align: center;
}

.nav-menu {
    background-color: lightgoldenrodyellow;
}
#main-content {
    background-color: powderblue;
    margin-top: -20px;
}

.menu-item {
    background-color: white;
}

p {
    margin: 10px;
}
